<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4 hidden-xs">
                <a href="#">
                    <div class="footer-logo"></div>
                </a>
            </div>
            <div class="col-md-2 col-xs-6 footer-info">
                <div class="footer-headline">
                    <h5>{{ __('URMĂREŞTE-NE', 'project') }}</h5>
                </div>
                <div class="footer-content">
                    {% if options.social_networks is not empty %}
                        {% for field in options.social_networks %}
                            <a href="{{ field.link }}">{{ field.type }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% if footer_menu_about is not empty %}
                <div class="col-md-2 col-xs-6 footer-info">
                    <div class="footer-headline">
                        <h5>{{ __('DESPRE NOI', 'project') }}</h5>
                    </div>
                    <div class="footer-content">
                        {% include 'partials/menu_items_footer.twig' with {'menu': footer_menu_about} %}
                    </div>
                </div>
            {% endif %}
            {% if footer_second_menu is not empty %}
                <div class="col-md-2 col-xs-6 footer-info">
                    <div class="footer-headline">
                        <h5>{{ __('TERMENI DE FOLOSIRE', 'project') }}</h5>
                    </div>
                    <div class="footer-content">
                        {% include 'partials/menu_items_footer.twig' with {'menu': footer_second_menu} %}
                    </div>
                </div>
            {% endif %}
            {% if footer_third_menu is not empty %}
                <div class="col-md-2 col-xs-6 footer-info">
                    <div class="footer-headline">
                        <h5>{{ __('Servicii', 'project') }}</h5>
                    </div>
                    <div class="footer-content">
                        {% include 'partials/menu_items_footer.twig' with {'menu': footer_third_menu} %}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="com-sm-12">
                <p>Pentru informaţii detaliate despre celelalte programe cofinanţate de Uniunea Europeană,
                    vă invităm să vizitaţi <a href="www.fonduri-ue.ro">www.fonduri-ue.ro</a> Conţinutul acestui material
                    nu
                    reprezintă în mod obligatoriu poziţia oficială a Uniunii
                    Europene sau a Guvernului României</p>
            </div>
        </div>
    </div>
</div>
<a href="http://localhost:9080/widget/demopage?widget=venyoo" class="hidden">
    widget link
</a>
{#<script type="text/javascript" src="//api.venyoo.ru/wnew.js?wc=venyoo/default/science&widget_id=6099206101794816"></script>#}

{#<script type="text/javascript" src="//api.venyoo.ru/wnew.js?wc=venyoo/default/science&widget_id=4894705860739072"></script>#}

{#<script type="text/javascript" src="//api.venyoo.ru/wnew.js?wc=venyoo/default/science&widget_id=6743738779697152"></script>#}

