{% extends 'base.twig' %}
{% block content %}

    <section class="main-filter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="main-headline">{{ __('Drumul către casă', 'project') }}</h1>
                </div>
            </div>
        </div>
        <form action="/apartments" method="get">
            <div class="container">
                <div class="filters-container container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="filter-list-wrapper clearfix">
                                <ul class="filter-list">
                                    <li class="with-sub-menu sub-menu-desctop">
                                        <select class="switch-select" name="form[type]">
                                            <option value="sale">{{ __('Cumpara', 'project') }}</option>
                                            <option value="rent">{{ __('Închiriază', 'project') }}</option>
                                        </select>
                                    </li>

                                    <li class="sub-menu-full-width">
                                        <div class="address-input-container">
                                            <input type="text" class="js-autocomplete-address ui-autocomplete-input" placeholder="Localitate, zonă" name="form[address]" autocomplete="off">
                                        </div>
                                    </li>

                                    <li class="with-sub-menu sub-menu-mobile-show">
                                        <select class="switch-select" name="form[type]">
                                            <option value="sale">{{ __('Cumpara', 'project') }}</option>
                                            <option value="rent">{{ __('Închiriază', 'project') }}</option>
                                        </select>
                                    </li>
                                    <li class="with-sub-menu sub-menu-bg">
                                        <span>{{ __('Casă/Apartament', 'project') }}</span>
                                        <div class="sub-menu">
                                            {% include 'partials/forms/checkbox.twig' with {name: 'form[property_type][garsoniera]',  value: 'garsoniera', title: 'Garsonieră', } %}
                                            {% include 'partials/forms/checkbox.twig' with {name: 'form[property_type][apartament]',  value: 'apartament', title: 'Apartament', } %}
                                            {% include 'partials/forms/checkbox.twig' with {name: 'form[property_type][casa]',  value: 'casa', title: 'Casă', } %}
                                            {% include 'partials/forms/checkbox.twig' with {name: 'form[property_type][duplex]',  value: 'duplex', title: 'Duplex', } %}
                                            {% include 'partials/forms/checkbox.twig' with {name: 'form[property_type][penthouse]',  value: 'penthouse', title: 'Penthouse', } %}
                                            {% include 'partials/forms/checkbox.twig' with {name: 'form[property_type][teren]',  value: 'teren', title: 'Teren', } %}
                                            {% include 'partials/forms/checkbox.twig' with {name: 'form[property_type][spatii]',  value: 'spatii', title: 'Spatii-comerciale', } %}
                                        </div>
                                    </li>
                                    <li class="with-sub-menu sub-menu-mobile">
                                        <span>{{ __('Camere', 'project') }}</span>
                                        <div class="sub-menu">
                                            {% include 'partials/forms/checkbox.twig' with {name: 'form[rooms][1]', title: '1', value: '1' } %}
                                            {% include 'partials/forms/checkbox.twig' with {name: 'form[rooms][2]', title: '2', value: '2' } %}
                                            {% include 'partials/forms/checkbox.twig' with {name: 'form[rooms][3]', title: '3', value: '3' } %}
                                            {% include 'partials/forms/checkbox.twig' with {name: 'form[rooms][4+]', title: '4+', value: '4+' } %}
                                        </div>
                                    </li>
                                    <li class="with-sub-menu sub-menu-mobile">
                                        <span>{{ __('Suprafață', 'project') }}</span>
                                        <div class="sub-menu price-submenu">
                                            <div class="min-max">
                                                {% include 'partials/forms/number.twig' with {name: 'form[min_area]', placeholder: 'Min', min: '0' } %}
                                                <div class="delimiter"></div>
                                                {% include 'partials/forms/number.twig' with {name: 'form[max_area]', placeholder: 'Max', min: '0' } %}
                                            </div>
                                        </div>
                                    </li>
                                    <li class="with-sub-menu sub-menu-mobile">
                                        <span>{{ __('Stare proiect', 'project') }}</span>
                                        <div class="sub-menu">
                                            {% include 'partials/forms/checkbox.twig' with {name: 'form[state][finished]', value: 'finished', title: 'finalizate' } %}
                                            {% include 'partials/forms/checkbox.twig' with {name: 'form[state][in-progress]', value: 'in-progress', title: 'în dezvoltare' } %}
                                        </div>
                                    </li>
                                    <li class="with-sub-menu sub-menu-mobile">
                                        <span>{{ __('Buget', 'project') }}</span>
                                        <div class="sub-menu price-submenu">
                                            <div class="switch-currency-container">
                                                <div class="currency">
                                                    {% include 'partials/forms/radio.twig' with {name: 'form[currency]', value: 'lei', title: __('Lei', 'project') } %}
                                                    {% include 'partials/forms/radio.twig' with {name: 'form[currency]', value: 'euro', title: __('Euro', 'project') } %}
                                                </div>
                                            </div>
                                            <div class="min-max">
                                                {% include 'partials/forms/number.twig' with {name: 'form[min_price]', placeholder: 'Min', min: '0' } %}
                                                <div class="delimiter">&#45;</div>
                                                {% include 'partials/forms/number.twig' with {name: 'form[max_price]', placeholder: 'Max', min: '0' } %}
                                            </div>
                                        </div>
                                    <li class="with-sub-menu button-desctop">
                                        <button class="filter-search">{{ __('Caută', 'project') }}</button>
                                    </li>
                                </ul>
                                <div class="status-wrapper">
                                    {% include 'partials/forms/checkbox.twig' with {name: 'form[state][finished]', value: 'finished', title: 'finalizate' } %}
                                    {% include 'partials/forms/checkbox.twig' with {name: 'form[state][in-progress]', value: 'in-progress', title: 'în dezvoltare' } %}
                                </div>
                                <div class="button-mobile">
                                    <button class="filter-search">{{ __('Caută', 'project') }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    {% if options.recommended_projects is not empty %}
        <section class="featured-projects">
            <h3 class="section-title vinous">{{ __('Proiecte Recomandate', 'project') }}</h3>
            <div class="container card-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel">
                            {% for field in options.recommended_projects %}
                                {% if field.project is not empty %}
                                    {% set post = customTimberPost(field.project) %}
                                    <div class="item">
                                        <div class="card-project">
                                            {% if post.thumbnail is not empty %}
                                                <img src="{{ post.thumbnail.src|resize(265, 265) }}"/>
                                            {% endif %}
                                            <div class="card-descroption" style="background: {{ random(['#8f164b'])  }}">
                                                <p>{{ post.title }}</p>
                                                <a href="{{ post.link }}">{{ __('Detalii', 'project') }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="card-project">
                                            {% if post.thumbnail is not empty %}
                                                <img src="{{ post.thumbnail.src|resize(265, 265) }}"/>
                                            {% endif %}
                                            <div class="card-descroption" style="background: {{ random(['#bd5011'])  }}">
                                                <p>{{ post.title }}</p>
                                                <a href="{{ post.link }}">{{ __('Detalii', 'project') }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="card-project">
                                            {% if post.thumbnail is not empty %}
                                                <img src="{{ post.thumbnail.src|resize(265, 265) }}"/>
                                            {% endif %}
                                            <div class="card-descroption" style="background: {{ random(['#400d4a'])  }}">
                                                <p>{{ post.title }}</p>
                                                <a href="{{ post.link }}">{{ __('Detalii', 'project') }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="card-project">
                                            {% if post.thumbnail is not empty %}
                                                <img src="{{ post.thumbnail.src|resize(265, 265) }}"/>
                                            {% endif %}
                                            <div class="card-descroption" style="background: {{ random(['#400d4a', '#bd5011', '#8f164b'])  }}">
                                                <p>{{ post.title }}</p>
                                                <a href="{{ post.link }}">{{ __('Detalii', 'project') }}</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <a href="{{ getPermalink('projects') }}" class="more-projects">
                        {{ __('Vezi toate proiectele imobiliare', 'project') }}
                    </a>
                </div>
            </div>
        </section>
    {% endif %}
    {% if options.services is not empty %}
        <section class="service">
            <h3 class="section-title purple">{{ __('Servicii', 'project') }}</h3>
            {% include 'partials/card-service-list.twig' with {
            fields: options.services
            } %}
        </section>
    {% endif %}
    <section class="service">
        <h3 class="section-title red">{{ __('De ce vreicasă.ro?', 'project') }}</h3>
        {% include 'partials/card-service-blog-list.twig' with {
        fields: options.advantages
        } %}
    </section>
    {% include 'partials/sections/subscribe-form.twig' %}
{% endblock %}