{% extends 'base.twig' %}
{% block content %}
    <section class="contact">
        <div class="contact-headline">
            <h3>{{ __('Contact', 'project') }}</h3>
        </div>
        <div class="contact-description">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        {% include 'partials/contact-form.twig' %}
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <div class="command">
                            {{ post.content }}
                            {% if post.partners is not empty %}
                                <div class="wrapper">
                                    <h3>{{ __('Echipa', 'project') }}</h3>
                                    <div class="row">
                                        {% for field in post.get_field('partners') %}
                                            <div class="col-md-6">
                                                <div class="person">
                                                    <p class="name">{{ field.name }}</p>
                                                    <p class="position">{{ field.post }}</p>
                                                    {% if field.image %}
                                                        <img src="{{ field.image }}" class="person-img"/>
                                                    {% endif %}
                                                    <p class="description">{{ field.description }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        {% if post.map_location is not empty %}
                            <div class="map-container" data-lat="{{ post.map_location.lat }}" data-lng="{{ post.map_location.lng }}">
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        {% include 'partials/contact-info.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}