<div class="col-md-4">
    <div class="estate-item">
        {% if post.thumbnail is not empty %}
            <div class="img-container">
                <a href="{{ post.link }}">
                    <img src="{{ post.thumbnail.src }}"/>
                </a>
            </div>
        {% endif %}
        <div class="description">
            <h3 class="title">
                <a href="{{ post.link }}">{{ post.title }}</a>
                {% if post.price %}
                    <span class="price">€ {{ post.price }}</span>
                {% endif %}
            </h3>
            {% if post.address %}
                <div class="address">
                    {{ post.address }}
                </div>
            {% endif %}
            <div class="meta">
                <table class="atributtes">
                    <tbody>
                    {% if post.rooms is not empty %}
                        <tr>
                            <td class="label">{{ __('Nr camere', 'project') }}</td>
                            <td class="value">{{ post.rooms }}</td>
                        </tr>
                    {% endif %}
                    {% if post.nr_de_bai is not empty %}
                        <tr>
                            <td class="label">{{ __('Nr băi', 'project') }}</td>
                            <td class="value">{{ post.nr_de_bai }}</td>
                        </tr>
                    {% endif %}
                    {% if post.compartimentare is not empty %}
                        <tr>
                            <td class="label">{{ __('Compartimentare', 'project') }}</td>
                            <td class="value">{{ post.compartimentare }}</td>
                        </tr>
                    {% endif %}
                    {% if post.area is not empty %}
                        <tr>
                            <td class="label">{{ __('Suprafaţă', 'project') }}</td>
                            <td class="value">{{ post.area }} mp</td>
                        </tr>
                    {% endif %}
                    {% if post.floor is not empty %}
                        <tr>
                            <td class="label">{{ __('Nr de etaje', 'project') }}</td>
                            <td class="value">{{ post.floor }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="footer">
                <a href="{{ post.link }}" class="details">{{ __('Detalii', 'project') }}</a>
                <a class="favorite js-add-to-favorites   {{  post.isFavoritePost() ? 'active'  }}"  data-post_id="{{ post.id }}">
                <i class="icon-inimacasa-01"></i>
                    {{ __('Adaugă la favorite' ,'project') }}
                </a>
            </div>
        </div>
    </div>
</div>