<form action="{{ actualLink }}" id="estate-filter-form">
    <div class="row">
        <div class="col-sm-8">
            <ul class="filter-list">
                <li>
                    <span>{{ __('Filtre', 'project') }}</span>
                </li>
                <li>
                    <div class="input-container">
                        <input type="text" class="js-autocomplete-address" placeholder="Localitate, zonă"
                               name="form[address]" value="{{ getFormNumberValue('form[address]') }}"/>
                    </div>
                </li>
                <li class="with-sub-menu"><span>{{ __('Buget', 'project') }}</span>
                    <div class="sub-menu price-submenu js-price-submenu">
                        <div class="switch-currency-container hidden">
                            <div class="currency">
                                {% include 'partials/forms/radio.twig' with {name: 'form[currency]', value: 'lei', title: __('Lei', 'project') } %}
                                {% include 'partials/forms/radio.twig' with {name: 'form[currency]', value: 'euro', title: __('Euro', 'project') } %}
                            </div>
                        </div>
                        <div class="min-max">
                            {% include 'partials/forms/number.twig' with {name: 'form[min_price]', placeholder: 'Min', min: '0' } %}
                            <div class="delimiter">&#45;</div>
                            {% include 'partials/forms/number.twig' with {name: 'form[max_price]', placeholder: 'Max', min: '0' } %}
                        </div>
                        <div class="range">
                            {% include 'partials/forms/radio.twig' with {name: 'form[range]', value: '0,20000', title: 'max 20.000 €' } %}
                            {% include 'partials/forms/radio.twig' with {name: 'form[range]', value: '20000,40000',title: '20.000 - 40.000 €' } %}
                            {% include 'partials/forms/radio.twig' with {name: 'form[range]', value: '40000,60000',title: '40.000 - 60.000 €' } %}
                            {% include 'partials/forms/radio.twig' with {name: 'form[range]', value: '60000,80000]',title: '60.000 - 80.000 €' } %}
                            {% include 'partials/forms/radio.twig' with {name: 'form[range]', value: '80000,100000',title: '80.000 - 100.000 €' } %}
                            {% include 'partials/forms/radio.twig' with {name: 'form[range]', value: '10000,150000',title: '100.000 - 150.000 €' } %}
                            {% include 'partials/forms/radio.twig' with {name: 'form[range]', value: '150000,300000',title: '150.000 - 300.000 €' } %}
                        </div>
                    </div>
                </li>
                <li class="with-sub-menu">
                    <span>{{ __('Suprafață', 'project') }}</span>
                    <div class="sub-menu price-submenu">
                        <div class="min-max">
                            {% include 'partials/forms/number.twig' with {name: 'form[min_area]', placeholder: 'Min', min: '0' } %}
                            <div class="delimiter"></div>
                            {% include 'partials/forms/number.twig' with {name: 'form[max_area]', placeholder: 'Max', min: '0' } %}
                        </div>
                    </div>
                </li>
                <li class="with-sub-menu mw-150">
                    <span>{{ __('Stare proiect', 'project') }}</span>
                    <div class="sub-menu">
                        {% include 'partials/forms/checkbox.twig' with {name: 'form[state][finished]', value: 'finished', title: 'finalizate' } %}
                        {% include 'partials/forms/checkbox.twig' with {name: 'form[state][in-progress]', value: 'in-progress', title: 'în dezvoltare' } %}
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <div class="ta-c">
                <ul class="filter-list">
                    <li class="with-sub-menu filter-group-container">
                        <span class="js-open-more-filters">{{ __('Mai multe', 'project') }}</span>
                        <div class="sub-menu col-2">
                            <ul class="filter-group-list">
                                <li class="filter-group js-equal-height">
                                    <div class="title">{{ __('Utilități', 'project') }}</div>
                                    <div class="content">
                                        {% include 'partials/forms/checkbox.twig' with {name: 'form[lift]',  value: '1', title: 'Lift', } %}
                                        {% include 'partials/forms/checkbox.twig' with {name: 'form[parcare]',  value: '1', title: 'Parcare', } %}
                                        {% include 'partials/forms/checkbox.twig' with {name: 'form[sala_fitness]',  value: '1', title: 'Sală fitness', } %}
                                        {% include 'partials/forms/checkbox.twig' with {name: 'form[spatii_commerciale_parter]',  value: '1', title: 'Spații comerciale parter', } %}
                                        {% include 'partials/forms/checkbox.twig' with {name: 'form[spatii_de_joaca_pentru_copii]',  value: '1', title: 'Spațiu joacă copii', } %}
                                    </div>
                                </li>
                                <li class="filter-group js-equal-height">
                                    <div class="title">{{ __('Niveluri imobil', 'project') }}</div>
                                    <div class="content">
                                        {% include 'partials/forms/checkbox.twig' with {name: 'form[floor_range1]', title: '1-4', value: '1-4' } %}
                                        {% include 'partials/forms/checkbox.twig' with {name: 'form[floor_range2]', title: '5-10', value: '5-10' } %}
                                        {% include 'partials/forms/checkbox.twig' with {name: 'form[floor_range3]', title: '10+', value: '10+' } %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button class="submit-form js-submit-form" type="submit">{{ __('Cauta', 'project') }}</button>
                        <button class="reset-search-form" type="reset" onclick="location.href='/{{ postType }}'">
                            <i class="fa fa-close"></i>
                            <span class="hidden">
                                {{ __('Resetare căutare', 'project') }}
                            </span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hidden">
        {#order by fields#}
        {% include 'partials/forms/radio.twig' with {name: 'form[orderby]', value: 'price-desc' } %}
        {% include 'partials/forms/radio.twig' with {name: 'form[orderby]', value: 'price-asc' } %}
        {% include 'partials/forms/radio.twig' with {name: 'form[orderby]', value: 'date-desc' } %}
        {% include 'partials/forms/radio.twig' with {name: 'form[orderby]', value: 'date-asc' } %}
        {#posts per page fields#}
        {% include 'partials/forms/radio.twig' with {name: 'form[perPage]', value: '24' } %}
        {% include 'partials/forms/radio.twig' with {name: 'form[perPage]', value: '48' } %}
        {% include 'partials/forms/radio.twig' with {name: 'form[perPage]', value: '72' } %}
    </div>
</form>