<div class="radio-container">
    <input type="radio" name="{{ name }}" value="{{ value }}" id="{{ name }}-{{ value }}" {{ getFormRadioValue(name, value) }}/>
    <label for="{{ name }}-{{ value }}">{{ title }}</label>
</div>